* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Banner {
  background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.3)),
    url(./Component/img/banner3.jpg);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body {
  font-family: sans-serif;
}

.Nav-list {
  text-decoration: none;
  color: Black;
  font-weight: 700;
}

.contact-page {
  height: 700px;
  width: 80%;
  margin: auto;
  top: 20%;
  position: relative;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  background-color: #dbd5ce;
}

.contact-page .contact-left {
  height: 100%;
  width: 50%;
}

.contact-left img {
  height: 100%;
  width: 100%;
}
.contact-page .contact-right {
  /* height: 700px; */
  width: 50%;
  margin: auto;
}

form div {
  padding-bottom: 1rem;
}
form input {
  display: block;
  height: 40px;
  width: 100%;
}

form button {
  padding: 15px 35px;
  color: black;
  background-color: #f5f1ee;
}

.output {
  height: 100px;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}

/* Menu page */
.menuPage, .single-food-page{
  padding-top: 100px;
}


.Menu-page h1 {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  /* padding-top: 50px; */

}
.menu {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  /* margin-top: 50px; */
}

.menu-side-bar {
  width: 20%;
  height: 750px;
  background-color: 
#f5f1ee;
  color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 110px;
  border-radius: 10px;
}

.menu-side-bar button{
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  padding: 15px;
  cursor: pointer;
    text-transform: capitalize;
  font-weight: 700;
}

.food-details {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.Food {
   padding: 20px;
   border-radius: 10px;
   box-shadow: 2px 2px 10px rgba(214, 214, 214, 0.4);
   text-decoration: none;
   color: black;
}

.Food img{
  height: 400px;
  width: 100%;
  object-fit:cover;
  border-radius: 5px;
}

.Food h3{
  margin: 10px 0;
  font-weight: 500;
  color: rgba(62, 61, 61);
}

.single-food{
  /* background-color: #dbd5ce; */
  padding: 20px;
}

.single-food button{
  background-color: 
#f5f1ee;
}

.single-food-page h1{
   height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-food{
  width: 70%;
  margin: auto;

}

.single-food img{
  width: 40%;
  object-fit: cover;
  border-radius: 10px;
}

.single-food button{
  padding: 15px 25px;
  color: white;
  background-color: #dbd5ce;
  border: none;
  font-weight: 500;
}

/* Food Single */
.single-food{
  width: 60%;
  margin: auto;
}

@media (max-width: 1000px) {
  .Approach {
    display: block;
    height: 1000px;
  }
  .Approach .app {
    width: 75%;
    height: 50%;
    padding-top: 40px;
    line-height: 1.6;
  }
  .Approach .grass-image {
    width: 100%;
    height: 50%;
    margin: auto;
  }

  .grass-image img {
    width: 100%;
  }
  .sec3- {
    line-height: 3rem;
    padding: 10px 20px;
  }
  .sec3- h1 {
    font-size: 30px;
    padding-bottom: 30px;
  }

  .Approach2 {
    height: 1000px;
    display: block;
  }
  .Approach2 .grass-image2 {
    width: 100%;
    height: 50%;
  }

  .Approach-2 {
    width: 100%;
    height: 500px;
  }

  .Approach-2 .Approach-2 h1 {
    font-size: 30px;
    width: 100%;
  }

  .Approach-2 h3 {
    width: 100%;
    font-size: 20px;
  }

  .Approach-2 div {
    height: 500px;
    width: 100%;
  }
}

/* Blog */
.blog-banner{
  min-height: 400px;
  background-image:linear-gradient( rgba(0,0,0,.4), rgba(0,0,0,0.5)), url(./Component/img/banner3.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;

}

.blog-banner h1{
  font-size: 45px;
}

.blog-navigation{
  height: 70px;
  width: 100%;
}

.blog-nav{
    height: 70px;
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: black;
}

.logo-blog{
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  color: black;
}

.nav-link{
  color: black;
  text-decoration: none;
  font-weight: 700;
}

.myicon{
  color: blue;
  font-size: 30px;
}

.blogcard-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.blog-card {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(209, 209, 209, 0.4);
  width: 90%;
  margin: 30px auto;
}

.blog-card img{
  height: 250px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  object-fit: cover;

}

.blog-cat{
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.blog-cat span{
  margin-left: 5px;
  color: #15157e;

}

.blog-title{
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.blog-desc{
  font: 14px;
  color: #787878;
  line-height: 1.6;
  margin-bottom: 10px;
}

.blog-footer{
  display: flex;
  gap: 20px;
}

.blog-footer p{
  display: flex;
  align-items: center;
  font-size: 13px;

color: #787878;}
.blog-footer-icon{
  font-size: 14px;
  margin-right: 5px;
  color: black;
}

.bf-date{
  text-transform: uppercase;
}

/* create blog */
.create-blog-link{
  text-decoration: none;
  padding: 10px 30px;
  background-color: #404040;
  border-radius: 5px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  transition: 0.3s ease;
  color: white;
}


.create-blog-link:hover{
  background-color: black;
}

/* blog comment */
.blogsingle{
  width: 41%;
  margin: auto;
  padding: 20px;
  box-shadow: 2px 2px 10px rgba(214, 214, 214, 0.4);
  border-radius: 10px;
}

.blogsingle img{
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}
.blog-comment textarea{
  border: none;
}

@media (max-width: 427px) {
  .Approach-2 div {
    width: 75%;
    margin: auto;
    /* text-align: center; */
  }
  .sec5 div {
    margin-top: 15px;
    height: 300px;
    width: 95%;
  }
}
